{% extends "/vistas/base.html" %}

{% block titulo %}
Discos de arado
{% endblock %}

{% block header %}
DISCOS DE ARADO <br>
{% endblock %}
{% block header2 %}
<div>Herreria</div>
<div>Tornería</div>
<div>Soldadura</div>
{% endblock %}


{% block main %}
<p>Antes que nada, queremos agradecerte este tiempo, porque sabemos que lo estas
    invirtiendo
    con "nosotros"; ya sea, conociendo nuestro sitio, viendo lo que hacemos; o, si ya nos conoces, volviendo a
    ingresar.
    En las distintas paginas del sitio, vas a poder ver algunos de nuestros trabajos; donde estamos; un poco de
    quienes somos; y algo muy importante: podremos interactuar para seguir creciendo, a través de una encuesta
    de satisfacción, haciéndonos llegar un comentario sobre lo que podemos mejorar y/o lo que estamos haciendo
    bien; o, directamente, podrás contarnos lo que necesites realizar, para que te coticemos algún trabajo.
</p>
{% endblock %}