{% extends "/vistas/base.html" %}

{% block titulo %}Nuestros productos{% endblock %}

{% block header %}NUESTROS PRODUCTOS{% endblock %}

{% block main %}
<button onclick='desplegar("lista", "inline-block")' class="btn-comentarios">Filtrar por:</button>
<br>
<span id="lista" style="display: none">
    <ul>
        <li><a href="/productos/0">TODOS LOS PRODUCTOS</a></li>
        {% for categoria in categorias %}
        <li><a href="/productos/{{categoria[0]}}">{{categoria[1]}}</a></li>
        {% endfor %}
    </ul>
</span>
<table class="table table-light">
    <thead>
        <div class="filtro">Categoria: {{titulo}}</div>
        {{descripcion_c}}
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>
                <a href="/fotos/{{producto[5]}}" target="popup"
                    onclick='window.open("/fotos/{{producto[5]}}","popup","width=600,height=600")''><img width="100px" src="/fotos/{{producto[5]}}" alt="2">
                </a>
            </td>
            <td> {{producto[2]}} </td>
            <td> {{producto[3]}} </td>
            <td>{{producto[4]}}</td>
            <td> {{producto[7]}} </td>
        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endblock %}