{% extends "/vistas/base.html" %}

{% block titulo %}Administracion{% endblock %}
{% block head %}
<script>
    function nueva_categoria(form) {
        var x = document.getElementById("txtId_categoria");
        var sel = x.options[x.selectedIndex].id;
        var y = document.getElementById("categoria");
        if (sel == "nueva") {
            y.style.display = "block";
        }
        else {
            y.style.display = "none";
        }
    }
</script>
<script>
    function desplegar(id) {
        var x = document.getElementById(id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>


{% endblock %}
{% block header %}ADMININISTRACION{% endblock %}

{% block main %}

{% with messages= get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    {{message}}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<button onclick="desplegar('agregarUsuario')" class="btn-comentarios">Agregar usuario</button>
<div id="agregarUsuario" style="display: none">
    <form method="post" action="/crear_usuario" enctype="multipart/form-data">

        Ingresar usuario
        <BR>


        <div>
            <label for="txtUsuario">Nombre de usuario:</label>
            <input id="txtUsuario" type="text" name="txtUsuario">
        </div>
        <br>
        <div>
            <label for="txtPassword">Password:</label>
            <input type="text" name="txtPassword" id="txtPassword">
        </div>
        <br>
        <div class="form-group">
            <input name="submit" type="submit" value="Agregar usuario">
        </div>


    </form>
</div>
<button onclick="desplegar('editarUsuario')" class="btn-comentarios">Editar mis datos</button>
<div id="editarUsuario" style="display: none">
    <form method="post" action="/modificar_usuario" enctype="multipart/form-data">
        Editar usuario
        <br>

        <div>
            <label for="txtUsuario">Nuevo nombre de usuario:</label>
            <input id="txtUsuario" type="text" name="txtUsuario">
        </div><br>
        <div>
            <label for="txtPassword">Nuevo password:</label>
            <input type="text" name="txtPassword" id="txtPassword">
        </div><br>
        <div>
            <input type="submit" value="Enviar">
        </div>


    </form>
</div>
<button onclick="desplegar('agregarProducto')" class="btn-comentarios">Agregar producto</button>
<div  id="agregarProducto" style="display: none;">
    <form name="formulario" action="/store" method="POST" enctype="multipart/form-data">
        <div>
            <label for="txtNombre">Nombre: </label>
            <input type="text" name="txtNombre" id="txtNombre">
        </div><br>
        <div>
            <label for="txtId_categoria">Categoria: </label>
            <select onchange="nueva_categoria(this.form)" name="txtId_categoria" id="txtId_categoria">
                <option value="">Seleccione una categoria</option>
                {% for categoria in categorias %}
                <option value="{{categoria[0]}}">{{categoria[1]}}</option>
                {% endfor %}
                <option value="0" id="nueva"> Nueva categoria</option>
            </select>
        </div><br>
        <span id="categoria" style="display: none">
                <div>
                    <label for="txtCategoria">Nueva categoria: </label>
                    <input type="text" name="txtCategoria" id="txtCategoria">
                </div><br>
                <div>
                    <label for="txtDescripcion_c">Descripcion de la categoria: </label>
                    <textarea type="text" name="txtDescripcion_c" id="txtDescripcion_c"></textarea>
                </div><br>
        </span>
        <div class="txtFoto">
            <label for="txtFoto">Foto: </label>
            <input type="file" name="txtFoto" id="txtFoto">
        </div><br>
        <div>
            <label for="txtDescripcion_p">Descripcion del producto: </label>
            <textarea type="text" name="txtDescripcion_p" id="txtDescripcion_p"></textarea>
        </div><br>
        <div>
            <label for="txtPrecio">Precio: </label>
            <input type="text" name="txtPrecio" id="txtPrecio">
        </div><br>
        <div>
            <label for="txtCosto_envio">Costo de envio: </label>
            <input type="text" name="txtCosto_envio" id="txtCosto_envio">
        </div><br>
        <div>
            <label for="txtLargo">Largo(cm): </label>
            <input type="text" name="txtLargo" id="txtLargo">
        </div><br>
        <div>
            <label for="txtAlto">Alto(cm): </label>
            <input type="text" name="txtAlto" id="txtAlto">
        </div><br>
        <div>
            <label for="txtAncho">Ancho(cm): </label>
            <input type="text" name="txtAncho" id="txtAncho">
        </div><br>
        <div><input type="submit" value="Cargar producto"></div>
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Costo del envio</th>
                <th>Medidas del paquete</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td> <img width="150px" src="fotos/{{producto[9]}}" alt=""> </td>
                <td> {{producto[2]}} </td>
                <td> {{producto[3]}} </td>
                <td> {{producto[4]}} </td>
                <td> {{producto[5]}} </td>
                <td> {{producto[6]}}cm X {{producto[7]}}cm X {{producto[8]}}cm</td>
                <td> {{producto[11]}} </td>
                <td><a href="/edit/{{producto[0]}}">Editar</a> | <a
                        onclick="return confirm('¿Desea borrar {{producto[2]}}?')"
                        href="/destroy/{{producto[0]}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}