/* *{
    margin: 0cm;
    padding: 0px;
    font-family: sans-serif, arial;
} */

input, textarea{
    border-radius: 7px;
}
/* body{
    background-color: #d4f46e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23a775f7' fill-opacity='0.4'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
} */

main a{
    color: rgba(22, 3, 66, 0.836);
    font-size: 1.5vw;
}

/* header { 
    background-image: url(img/campo.jpg);
    background-size: 100%;
    aspect-ratio: 4.5;
    text-align: center;
    color:#aad0e8;
    text-decoration-line: underline;
    font-size: 3VW;
    font-family: 'inconsolata';
} */

/* #whatsapp{
    color: #00bb2d;
} */

/* #facebook{
   color: #3b5998;
}

span button{
    margin: 1vw;
    padding: 0.25vw 0.5VW;
    border-radius: 2vw;
    font-size: 2VW;
    text-align: center;
    transition-duration: 1.5s;
    background: #2BF927;
    color: #000;
}

span button:hover{
    background-color: #000;
    color: #2BF927;
} */

.nav2 button{
    margin: .5vw;
    padding: 0.1vw 0.3VW;
    border-radius: 2vw;
    font-size: 1.5VW;
    text-align: center;
    transition-duration: 1s;
    background: #ffa500;
    color: #000;
}

.nav2 button:hover{
    background: #000;
    color:#ffa500 ;
}

#abierta button{
    background-color: crimson;
    color: cyan;
}

/* p{
    font-family: 'monserrat';
    color: rgb(77, 4, 70);
    font-size: 2vw;
} */
p span{
    background-color: #d4f46e;
}

@keyframes cambiarColor {
   0% { background: hsl(60, 100%, 0%); color:hsl(60, 100%, 25%)}
   50% { background: hsl(60, 100%, 35%); color:hsl(60, 100%, 0%)}
   100% { background: hsl(60, 100%, 0%); color:hsl(60, 100%, 25%)}
}

/* .diseño{
    position: relative;
    bottom: 0px;
    background-color: rgb(156, 156, 156);
    font-size: 2vw;
    color: green;
    padding: 3vw;
    max-width: 100%;
    text-align: center;

} */
.contenedor {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
}
.linea{
    height: .1vw;
  background-color: black;
}

/* Cosas que cambian según tamaño */

/* pantalla chica(<600px)---------------------------------------------------------- */
@media only screen and (max-width: 600px){

   
    .contenedor {
        grid-template-columns:  1fr;
        text-align: center;
    }

    nav span{
        display: block;
    }
    
    .discos img, .planchetas img{
        max-width: 50vw;
        max-height: 60vw;
        min-width: 30vw;
    }
    .fogoneros img{
      max-width: 30vw;
    } 
    
    span button {
        font-size: 5vw;
    }
    .nav2 button{
        font-size: 3.5vw;
    }
    .nav1{
        text-align: center;
        grid-row: 1/2;
    }
    
    .nav2{
        text-align: center;
        grid-row: 2/3;
    }

    .linea{
        grid-row: 3/3;

    }
    /* -------- */
    .discos{
        text-align: center;
        grid-row: 4/5;
    }
    
    .planchetas{
        grid-row: 5/6;
    }
    
    .fogoneros{
        grid-row: 6/7;
    }
    /* ------- */
    .p{
       grid-row: 4/5;
       font-size: 5vw;
    }
    
    .mapa{
        grid-row: 4/5;
        min-width: 50vw;
    }
    
    .form1{
        grid-row: 4/5;
    }
    
    .form2{
        grid-row: 5/6;
    }
    
    .contador{
        grid-row: 5/6;
    }
    
    .f1{
        grid-row: 5/6;
    }

    .f2{
        grid-row: 6/7; 
    }

    .f3{
        grid-row: 7/8;
    }
    
    .f4{
        grid-row: 8/9; 
    }

    .f{
        padding: 1vw;
        grid-row: 9/10;
    }
}


/* pantalla mediana(600px/900px)---------------------------------------------------------- */
@media only screen and (min-width: 600px){

    .contenedor {
        grid-template-columns: repeat(8, 1fr);
        column-gap:10px ;
    }

    .discos img, .planchetas img{
        max-width: 24vw;
        max-height: 18vw;
        min-width: 20vw;
    }
    .fogoneros img{
      width: 15vw;
    }   
    
    .nav1{
        padding: 1vw;
        grid-area: 1/2/2/3;
    }
     
    .nav2{
        padding: 1vw;
        grid-area: 1/4/2/5;
    }
     
    .linea{
        grid-area: 3/2/3/8;
    }
    
    .discos{
        grid-area: 4/6/5/9;
    }
    
    .planchetas{
        grid-area: 4/3/5/6
    }
    
    .fogoneros{
        grid-area: 4/1/5/3;
    }
    
    .p{
       grid-area: 4/2/5/10  ;
       font-size: 2vw;
    }
    
    .f1{
        grid-area: 5/2/6/4
    }

    .f2{
        grid-area: 5/5/6/7
    }

    .f3{
        grid-area: 6/2/7/4
    }

    .f4{
        grid-area: 6/5/7/7
    }

    .mapa{
        grid-area: 4/2/5/8;
        min-width: 50vw;
    }

    .form1{
        grid-area: 4/1/5/5;
    }
    
    .form2{
        grid-area: 4/5/5/9;
    }

    .contador{
        grid-area: 5/1/6/3;
    }

    .f{
        padding: 1vw;
        grid-area: 8/4/9/9;
    }
    

}

/* pantalla grande (>900px)---------------------------------------------------------------- */
@media only screen and (min-width: 900px){

    .contenedor {
        grid-template-columns: repeat(10, 1fr);
        column-gap:15px ;
    }

    .discos img, .planchetas img{
    max-width: 28vw;
    max-height: 20vw;
    min-width: 25vw;
    }

    .fogoneros img{
    width: 20vw;
    }

    .nav1{
        text-align: center;
        padding: 1vw;
        grid-area: 1/3/2/11;
    }
     
    .nav2{
        padding: 1vw;
        grid-area: 2/4/3/11;
    }
     
    .linea{
        grid-area: 4/2/4/10;
        height: .1vw;
        background-color: black;
    }


    .discos{
    grid-area: 5/8/6/11;
    }

    .planchetas{
    grid-area: 5/5/6/8
    }

    .fogoneros{
    grid-area: 5/2/6/5;
    }   

    .p{
    grid-area: 5/2/6/10  ;
    }

    .mapa{
        grid-area: 5/3/6/9;
        min-width: 50vw;
    }

    .form1{
        grid-area: 5/2/6/7;
    }
    
    .form2{
        grid-area: 5/7/6/11;
    }

    .f1{
        grid-area: 6/2/7/4;
        max-width:20vw ;
    }

    .f2{
        grid-area: 6/4/7/6;
        max-width:20vw ;
    }

    .f3{
        grid-area: 6/6/7/8;
        max-width:20vw ;
    }

    .f4{
        grid-area: 6/8/7/10;
        max-width:20vw ;
    }

    .f{
    padding: 1vw;
    grid-area: 7/5/8/11;
    }

    .contador{
    grid-area: 7/1/8/5;
    }   
}